fastapi
uvicorn
pydantic
requests
dotenv
beautifulsoup4
lxml
cloudscraper
python-dotenv
openai
python-multipart
moviepy
ffmpeg-python
ffmpeg
apscheduler
gTTS 
pydub
google-search-results
serpapi
symspellpy
trafilatura
tiktoken
weaviate-client==4.14.0
more_itertools
ijson
boto3
google-generativeai 